<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
	<div class="container wrapper">
		<div class="recent-posts section">
			<div class="posts">
				{{- range (.Site.RegularPages.ByParam "index").Reverse -}}
				<div class="post">
					<a class="post-title" href="{{ .RelPermalink }}">{{.Title}}</a>
					<article>
						{{ .Content }}
					</article>
					<a class="read-more" href="{{ .RelPermalink }}">Read more...</a>
				</div>
				{{- end -}}
			</div>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>

</html>